.aboutParagraph{
    display: flex;
    margin: 20px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    max-width: 1200px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.17);
}

.aboutParagraph p{
    line-height: 1.44;
}
.aboutParagraph h1{
    font-size: 36px;
    margin: 0px;
}

.reverse {
    flex-flow: row-reverse;
}

.image {
    max-height: 400px;
    max-width: 400px;
    flex: 1;
}

.article{
    flex: 1;
    max-height: 380px;
    box-sizing: border-box;
    overflow: auto;
}

.content{
    margin: 10px 10px 10px 30px;
}

@media screen and (max-width: 900px){
    .aboutParagraph{
        display: block;
        width: fit-content;
    }

    .content{
        margin: 10px 30px;
    }

    .article{
        max-height: initial;
        max-width: 600px;
    }

    .image {
        max-width: 600px;
        min-width: 250px;
        margin: auto;
        overflow: hidden;
        margin-bottom: 10px;
        display: block;
    }
}

@media screen and (max-width: 740px){
    .article{
        max-width: 500px;
    }

    .image{
        max-width: 500px;
    }
}
@media screen and (max-width: 500px){
    .article{
        max-width: 400px;
    }
    .content{
        margin: 10px 20px;
    }

    .image{
        max-width: 400px;
    }

    .aboutParagraph h1{
        font-size: 22px;
    }
}