.aboutParagraph{
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    max-width: 1200px;
}

.reverse {
    flex-flow: row-reverse;
}

.image {
    flex: 1;
    max-width: 400px;
    max-height: 400px;
}

.article{
    flex: 1;
    padding: 0px 50px;
    line-height: 1.4;
}
