.mainContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.filter{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    width: 100%;
}

.select{
    width: 200px;

}

.input{
    width: 200px;
    height: 34px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    font-size: 16px;
    /* border: none; */
    text-indent: 30px;
}

input:focus{
    outline-color: #2684ff;
}

.inputContainer{
    position:relative;
}

.searchIcon{
    position: absolute;
    z-index: 5;
    top: 7px;
    left: 7px;
}

.articleContainer{
    width: 100%;
}

ul{
    list-style: none;
}

.moreButton{
    width: fit-content;
    font-size: 16px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    text-align: center;
    margin: 0px auto 15px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.moreButton:hover{
    cursor: pointer;
    border: 2px solid #2684ff;
    color: #2684ff;
    padding: 9px 20px;
}

