.newsList {
    display: flex;
    align-items: center;
    padding: 0px 50px;
    justify-content: space-evenly;
    list-style: none;
}

.newsList li{
    padding: 0px 40px;
}

.section{
    margin: 75px 0px;
}