.calendarContainer{
    height:650px;
    max-width: 1200px;
    margin: 20px auto;
}

.calendar{
}

.popup{
    vertical-align: middle;
    padding: 1px;
}

.popup div{
    margin: 25px;
    text-align: left;
}

.icons{
    vertical-align: middle;
    padding-right: 10px;
}
