.calendarContainer{
    max-width: 1200px;
    margin: 40px auto;
    height:650px;
    
}

.popup{
    vertical-align: middle;
    padding: 1px;
}

.popup div{
    margin: 25px;
    text-align: left;
}

.icons{
    vertical-align: middle;
    padding-right: 10px;
    color: black;
}

.rbcEventContent {
    width: 100%;
    flex: 1 1 0;
    word-wrap: break-word;
    line-height: 1;
    height: 100%;
    min-height: 1em;
    /* Don't tuch above this line */
  }



/* .rbcEventContent::after{
    content: "";
    position: absolute;
     */
    /* top: -9px;
    left: 50%; */
    /* transform: translate(-50%, 0);
    width: inherit;
    height: inherit;
    background: #E83474;
    opacity: 0.5;
} */

@media (max-width: 840px) {
    .calendarContainer{
       height: 500px;
       font-size: 14px;
    }
    .rbcEventContent{
        font-size: 12px;
    }
    .popup{
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .rbcEventContent{
        font-size: 12px;
    }
    .popup{
        font-size: 16px;
    }
}

@media (max-width: 560px) {
    .myStyle{
        display: flex;
        flex-direction: column;
        flex-wrap:nowrap;
    }

    .myStyle > span{
        margin: 5px;
        margin-top: 0px;
    }
}