.navigation{
    display: flex;
    align-items: center;
}

.navigation li{
    padding: 15px 15px;
    margin: 10px;
    width: fit-content;
    font-size: 15px;
    text-transform: uppercase;
    background-color: gray;
}
