.featured {
    display: flex;
    margin: 20px 0px;
    max-height: 400px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
}


.featured article {
    max-width: 80%;
    margin: 0 auto;
    letter-spacing: 0.2px;
    max-height: 400px;
    overflow-y: auto;
}
