.cards_item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards_item_link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.17);
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  align-items: center;
}

.cards_item_pic_wrap {
  position: relative;
  width: 100%;
  margin: 0;
  background-color: #1f98f4;
}

.cards_item_pic_wrap::after {
  content: attr(sport);
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color:inherit;
  box-sizing: border-box;
}

.cards_item_img {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.2s linear;
}

.cards_item_link:hover > .cards_item_pic_wrap > .cards_item_img {
  transform: scale(1.05);
}

.cards_item_link:hover > .cards_item_info{
  transform: translate(0, 5%);
}

.cards_item_info {
  transition: all 0.2s linear;
  padding: 20px 30px 30px;
}

.cards_item_text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
  margin: 0px;
  text-align: left;
}

@media only screen and (max-width: 1050px) {
  .cards_item {
    width: 500px;
    margin: 0px;
    margin-bottom: 2rem;
  }
  
}

@media only screen and (max-width: 630px) {
  .cards_item {
    margin-bottom: 2rem;
    width: initial;
  }
  
}

