.container{
    max-width: 1200px;
    width: 88%;
    background-color:white;
    margin: auto;
    position: relative;
}

.flexContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 40px;
}

.imageContainer{
    min-width:100px;
    max-width:263px;
    flex: 1;
}

.title{
    position: absolute;
    width: 100%;
    font-size: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding-bottom: 20px;
    margin-top: 0px;
}

.banner{
    position: absolute;
    width: 100%;
    background-color: rgb(255, 157, 206);
    top: 30%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    margin: 20px 0;
    padding-left: 50px;
}


.banner > div{
    width: fit-content;
}


.text{
    margin: 20px 20px;
    width:fit-content;
    max-width: 50ch;
    padding: 0 auto;
    line-height: 1.5;
    font-size: 20px;
    align-self: center;
    margin: 0px;
    
}

.text > h2 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.text > p {
    margin: 0;
    margin-bottom: 5px;
    margin-left: 10px;
}

.countdownContainer{
    display: flex;
}

.countdownContainer > div{
    margin: 10px;
    padding: 5px 10px;
    width: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 4px;
    background-color: #dd0d87;
    color: white;
}

.label{
    font-size: 12px;
    padding-bottom: 2px;
}

.time{
    font-size: 18px;
    font-weight:600;
}
/* margin: 0 auto; */
@media only screen and (max-width: 1050px) {

    .banner{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
        margin: 0px;
    }

    .banner >section {
        display: block;
    }

    .title{
        position: relative;
    }

    .text{
        align-self:flex-start;
        max-width: 43ch;
        margin: 10px;
        margin-left: 20px;

    }

    .imageContainer{
        position: absolute;
        min-width: 0px;
        top: 25%;
    }

    .flexImage{
        min-width: 201px;
        max-width: 201px;
        flex: 1;
    }
  }

@media only screen and (max-width: 750px) {
    .banner{
        flex-direction: column;
        width: fit-content;
        margin: 20px auto;
    }
    .text{
        margin: 0px;
        margin-top: 20px;
        padding: 20px;
    }
    .countdownContainer{
        justify-content: space-between;
    }

}


@media only screen and (max-width: 490px) {
    .container{
        font-size: 5.5vw;
    }

    .text{
        font-size: 4.5vw;
    }


    .cards_wrapper{
        margin: 0px;
    }
    .flexImage{
        margin-bottom: 20px;
    }

    .countdownContainer{
        display: grid;
        grid-template-areas: "el el" "el el";
        column-gap: 20px;
        justify-content: space-evenly;
    }
    .imageContainer{
        visibility: hidden;
    }
}