.footer {    
    align-items: center;
    background-color: darkgrey;
    
}

.categories{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    
}

.footer ul {
    list-style: none;
    text-align: left;
    white-space: nowrap;
    padding: 0;
    
}

.media li{
    font-size: 20px;
}

.copyright{
    background-color: black;
    color:white;
    text-align: center;
    padding: 4px;
}

@media screen and (max-width: 600px){
    .categories{
        flex-direction: column;
        align-items: center;
    }
    .footer ul {
        list-style: none;
        text-align: center;
        white-space: nowrap;
        padding: 0;
        padding-bottom: 20px;
    }
    .media li{
        margin: auto;
        text-align:left;
    }
}